.nav {
  display: flex;
}

.styledLink {
  display: block;
  width: 100px;
  height: 25px;
  margin: 15px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  background-color: blueviolet;
  border-radius: 10px 0;
  padding-top: 4px;
}

.Loader {
  margin: 0 auto;
}